.header {
    background-color: #1a1a1a;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__search {
    position: relative;
}
.header__input {
    padding: 15px 30px;
    border: none;
    width: 250px;
    border-radius: 30px;
    outline: none;
    font-size: 1rem;
}
.header__button {
    position: absolute;
    top:50%;
    transform: translate(0%,-50%);
    right: 10px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.header h1 {
    color: white;
    font-family: sans-serif;
    margin: 0;
}
.header a {
    color: white;
    margin-left: 20px;
}
.logo {
    font-size: 1.4em;
    margin:0 20px;
}

.header__items{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}
.header__item--icon {
    color: #ffffff;
    font-size: 2em;
    cursor: pointer;
    margin:0 20px;
}  
.header__popup {
 list-style: none;
 position:absolute;
 width: 170px;
 top: 45px;
 right: 40px;
 padding: 0;
 background-color: #f2f2f2;
 box-shadow: 4px 4px 2px rgba(0,0,0,0.12),-4px 0 2px rgba(0,0,0,0.14);
}
.header__popupItem button {
     all:unset;
}
.header__popupItem a,.header__popupItem button{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    color: #000000;
    margin: 0;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.header__popupItem a:hover,.header__popupItem button:hover{
    background-color: #e6e6e6;
}